In [1]:
import numpy as np  
import pandas as pd

In [2]:
data = pd.read_csv("/content/sample_data/california_housing_train.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [4]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [5]:
data.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [6]:
data.shape

(17000, 9)

In [9]:
#creating the null values for langitude column
row_idxs = np.random.choice(data.shape[0], size = 1000, replace = False)

data.iloc[row_idxs, 0] = np.nan

In [10]:
data.isnull().sum()

longitude             1938
latitude                 0
housing_median_age       0
total_rooms              0
total_bedrooms           0
population               0
households               0
median_income            0
median_house_value       0
dtype: int64

In [11]:
#finding out the columns which as null values
data.loc[data.isnull()['longitude']]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
9,NaN,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0
15,NaN,34.89,17.0,2556.0,587.0,1005.0,401.0,1.6991,69100.0
23,NaN,33.82,15.0,644.0,129.0,137.0,52.0,3.2097,71300.0
28,NaN,32.81,32.0,741.0,191.0,623.0,169.0,1.7604,68600.0
54,NaN,32.97,24.0,1617.0,366.0,1416.0,401.0,1.9750,66400.0
...,...,...,...,...,...,...,...,...,...
16967,NaN,40.60,39.0,1322.0,283.0,642.0,292.0,2.4519,85100.0
16977,NaN,40.62,32.0,1595.0,309.0,706.0,277.0,2.8958,86400.0
16979,NaN,40.78,37.0,1453.0,293.0,867.0,310.0,2.5536,70200.0
16984,NaN,40.78,37.0,1371.0,319.0,640.0,260.0,1.8242,70000.0
16988,NaN,41.75,20.0,3810.0,787.0,1993.0,721.0,2.0074,66900.0

Handling Missing Values

In [12]:
# Removing - Row which has atleast 1 nan value [Not recommended]

removing_test_1 = data.copy() # create a copy of data 
removing_test_1 = removing_test_1.dropna(axis = 0, how = 'any')
# removing_test_1.dropna(axis = 0, how = 'any', inplace = True)

print(" New Data Shape ", removing_test_1.shape)
removing_test_1.isnull().sum()

 New Data Shape  (15062, 9)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [15]:
#how = 'any' will removes the rows which has atleast 1 null value
#how = 'all' will remove the rows only if entire row has null values 

removing_test_2 = data.copy() # create a copy of data 
removing_test_2 = removing_test_2.dropna(axis = 0, how = 'all')
# removing_test_1.dropna(axis = 0, how = 'any', inplace = True)

print(" New Data Shape ", removing_test_2.shape)
removing_test_2.isnull().sum()

 New Data Shape  (17000, 9)

longitude             1938
latitude                 0
housing_median_age       0
total_rooms              0
total_bedrooms           0
population               0
households               0
median_income            0
median_house_value       0
dtype: int64

Filling Value

In [16]:
# Fill with mean [Not losing any data]

mean_filling = data.copy() # create a copy of data 
# mean_filling = mean_filling.fillna(value = mean_filling.mean())
mean_filling.fillna(value = mean_filling.mean(), inplace = True)

print(" New Data Shape ", mean_filling.shape)
mean_filling.isnull().sum()

 New Data Shape  (17000, 9)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [17]:
# Fill column wise [Recommended]

mean_filling = data.copy()
mean_filling['longitude'].fillna(value = mean_filling['longitude'].mean(), inplace = True)

print(" New Data Shape ", mean_filling.shape)
mean_filling.isnull().sum()

 New Data Shape  (17000, 9)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [18]:
# Fill median 

median_filling = data.copy()
median_filling['longitude'].fillna(value = mean_filling['longitude'].median(), inplace = True)

print(" New Data Shape ", median_filling.shape)
median_filling.isnull().sum()

 New Data Shape  (17000, 9)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [19]:
# Fill mode - Categorical Columns

mode_filling = data.copy()
mode_filling['longitude'].fillna(value = mean_filling['longitude'].mode()[0], inplace = True)

print(" New Data Shape ", mode_filling.shape)
mode_filling.isnull().sum()

 New Data Shape  (17000, 9)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [20]:
# Fill FFILL

forward_filling = data.copy()
forward_filling['longitude'].fillna(method = 'ffill' , inplace = True)

print(" New Data Shape ", forward_filling.shape)
forward_filling.isnull().sum()

 New Data Shape  (17000, 9)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [21]:
# Fill BFILL

backward_filling = data.copy()
backward_filling['longitude'].fillna(method = 'bfill' , inplace = True)

print(" New Data Shape ", backward_filling.shape)
backward_filling.isnull().sum()

 New Data Shape  (17000, 9)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [22]:
# sklearn - ML Package 
# Imputer - Filling Nans 

# Create data copy, collected cols and idxs 
simple_imputer_filling = data.copy()
cols = simple_imputer_filling.columns
indexes = simple_imputer_filling.index

from sklearn.impute import SimpleImputer # import module

imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# fit 
# Learning the dataset, understand strategy and compute values 
imputer.fit(simple_imputer_filling)
# transform 
simple_imputer_filling = imputer.transform(simple_imputer_filling)

simple_imputer_filling = pd.DataFrame(simple_imputer_filling, columns = cols, index = indexes)

print(" New Data Shape ", simple_imputer_filling.shape)
simple_imputer_filling.isnull().sum()

 New Data Shape  (17000, 9)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [23]:
simple_imputer_filling = data.copy()
cols = simple_imputer_filling.columns
indexes = simple_imputer_filling.index

from sklearn.impute import KNNImputer # import module

imputer = KNNImputer()
# fit 
# Learning the dataset, understand strategy and compute values 
imputer.fit(simple_imputer_filling)
# transform 
simple_imputer_filling = imputer.transform(simple_imputer_filling)

simple_imputer_filling = pd.DataFrame(simple_imputer_filling, columns = cols, index = indexes)

print(" New Data Shape ", simple_imputer_filling.shape)
simple_imputer_filling.isnull().sum()

 New Data Shape  (17000, 9)

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64