In [1]:
# Scaler -> transform data from one distribution to other distribution
# one dimenstion to other dimension

# Bring all Columns into Particular Range

In [2]:
import numpy as np # 
import pandas as pd # index, columns 
import matplotlib.pyplot as plt 
import seaborn as sns

plt.rcParams["figure.figsize"] = (16,10)

In [3]:
data = pd.read_csv("california_housing_train.csv")
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

# MinMax Scaler - (Normalization)

In [4]:
# 1. Brings value between 0 - 1 
# formula - (val - col min)/(col max - col min)

from sklearn.preprocessing import MinMaxScaler 

Scaler = MinMaxScaler()
# Scaler.fit(data) # scaler learns ranges 
# scaled_data = Scaler.transform(data) # transforms 
scaled_data = Scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns = data.columns)

In [5]:
scaled_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,1.000000,0.175345,0.274510,0.147885,0.198945,0.028364,0.077454,0.068530,0.107012
1,0.984064,0.197662,0.352941,0.201608,0.294848,0.031559,0.075974,0.091040,0.134228
2,0.975100,0.122210,0.313725,0.018927,0.026847,0.009249,0.019076,0.079378,0.145775
3,0.974104,0.116897,0.254902,0.039515,0.052142,0.014350,0.037000,0.185639,0.120414
4,0.974104,0.109458,0.372549,0.038276,0.050435,0.017405,0.042921,0.098281,0.104125

In [6]:
scaled_data.min(), scaled_data.max()

(longitude             0.0
 latitude              0.0
 housing_median_age    0.0
 total_rooms           0.0
 total_bedrooms        0.0
 population            0.0
 households            0.0
 median_income         0.0
 median_house_value    0.0
 dtype: float64,
 longitude             1.0
 latitude              1.0
 housing_median_age    1.0
 total_rooms           1.0
 total_bedrooms        1.0
 population            1.0
 households            1.0
 median_income         1.0
 median_house_value    1.0
 dtype: float64)

# Standard Scaler - (Standardization)

In [7]:
# more grounded in statistics 
# mean => 0, std => 1 (Normal, Gaussian)
# formula = (val - mean)/std

from sklearn.preprocessing import StandardScaler # Anytime 

Scaler = StandardScaler()
Scaler.fit(data)
scaled_data = Scaler.transform(data) 
scaled_data = pd.DataFrame(scaled_data, columns = data.columns)

In [8]:
scaled_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,2.619365,-0.671520,-1.079671,1.361695,1.764204,-0.361184,-0.075998,-1.252543,-1.210558
1,2.539569,-0.573264,-0.761872,2.296608,3.230441,-0.261865,-0.099404,-1.081483,-1.096745
2,2.494683,-0.905463,-0.920772,-0.882462,-0.866956,-0.955354,-0.999252,-1.170105,-1.048461
3,2.489696,-0.928857,-1.159121,-0.524186,-0.480230,-0.796793,-0.715774,-0.362600,-1.154514
4,2.489696,-0.961609,-0.682422,-0.545747,-0.506328,-0.701830,-0.622148,-1.026454,-1.222629

In [9]:
scaled_data.mean()

longitude            -9.134288e-15
latitude             -1.540258e-15
housing_median_age   -9.654238e-16
total_rooms           7.481924e-17
total_bedrooms        1.571553e-16
population            2.034190e-16
households           -5.476012e-17
median_income        -3.849894e-16
median_house_value   -2.267467e-16
dtype: float64

In [10]:
scaled_data.std()

longitude             1.000029
latitude              1.000029
housing_median_age    1.000029
total_rooms           1.000029
total_bedrooms        1.000029
population            1.000029
households            1.000029
median_income         1.000029
median_house_value    1.000029
dtype: float64

In [11]:
scaled_data.min(), scaled_data.max()

(longitude            -2.387848
 latitude             -1.443531
 housing_median_age   -2.191968
 total_rooms          -1.211838
 total_bedrooms       -1.277408
 population           -1.242856
 households           -1.300935
 median_income        -1.773323
 median_house_value   -1.658056
 dtype: float64,
 longitude              2.619365
 latitude               2.959268
 housing_median_age     1.859971
 total_rooms           16.190473
 total_bedrooms        14.011318
 population            29.841308
 households            14.514017
 median_income          5.825963
 median_house_value     2.523704
 dtype: float64)